/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden !important;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.header_main {
    width: 100%;
    float: left;
    background: #10e2bd;
    height: 80px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #f76d37;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f76d37;
}

.navbar {
    padding: 20px 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 18px;
    color: #fff;
}

.logo {}

/* header section end */

/* banner section start */

.banner_section {
    float: c;
    background-image: url(../images/banner-bg.png);
    background-size: 100%;
    padding: 10px 0px 25px 0px;
  background-position: center;
  background-size: cover;
}

.banner_taital {
    width: 100%;
    float: left;
    padding: 100px 0px;
}

.outstanding_text {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #252525;
    padding-bottom: 0px;
}

.coffee_text {
    width: 100%;
    float: left;
    font-size: 70px;
    color: #fdfcfa;
    font-weight: bold;
    padding-bottom: 0px;
}

.there_text {
    width: 50%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    padding-bottom: 30px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.learnmore_bt {
    width: 170px;
}

.learnmore_bt a {
    width: 100%;
    float: left;
    padding-right: 0;
    background-color: #252525;
    color: #fff;
    text-align: center;
    margin-right: 12px;
    height: 53px;
    padding: 15px 40px;
    font-size: 14px;
    text-transform: uppercase;
}

.learnmore_bt a:hover {
    background-color: #f76d37;
    color: #fff;
}

#main_slider a.carousel-control-next {
    left: 0px;
    right: -60px;
    top: 440px;
}

#main_slider a.carousel-control-prev {
    left: -60px;
    right: 0px;
    top: 440px;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 45px;
    height: 45px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #333333;
    margin: 0 auto;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #ffffff;
    background-color: #f76d37;
}

/* about section start */

.about_section {
    width: 100%;
    float: left;
	margin-bottom: 100px;
	margin-top: 10px;

}

.about_taital_main {
    width: 100%;
    float: left;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #f76d37;
    font-weight: bold;
    text-transform: uppercase;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4c4c4b;
    margin: 0px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4c4c4b;
    margin: 0px;
}
.cropped-image img {
    width: 620px;
    height: 620px;
    overflow: hidden;
	object-fit: fit;
}

.cropped-image img {
    object-fit: fit;
    width: 100%;
    height: 100%;
}

/*products section start */

.services_section {
    width: 100%;
    float: left;
    background-image: url(../images/services-bg.png);
    height: auto;
    padding-bottom: 100px;
    background-attachment: fixed;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.services_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

.house_icon {
    width: 300px;
    height: auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.box_main .house_icon .image_2 {
    display: none;
}

.box_main:hover .house_icon .image_2 {
    display: block;
}

.box_main:hover .house_icon .image_1 {
    display: none;
}

.box_main:hover {
    background-color: #ffffff;
}

.box_main {
    width: 100%;
    background-color: #f76d37;
    padding: 40px 30px;
    box-shadow: 0px 0px 18px -6px;
	margin: 20px;
}

.box_main:hover .decorate_text {
    color: #000;
}

.box_main:hover .tation_text {
    color: #000;
}

.box_main:hover .readmore_bt {
    display: block;
}

.box_main:hover .readmore_bt a {
    color: #ffffff;
    background-color: #000;
}

.services_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.decorate_text {
    width: 100%;
    font-size: 28px;
    color: #ffffff;
    padding-top: 30px;
    text-align: center;
}

.tation_text {
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

.readmore_bt {
    width: 175px;
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    display: none;
    padding-bottom: 40px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #070603;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #f76d37;
}
/* footer */


.footer {
    width: 100%;
    float: left;
    background-color: #1f1f1f;
    height: auto;
}

.footer {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
	padding: 20px;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #f76d37;
}

/* footer title */


.footertitle {
    width: 100%;
    float: left;
    background-color: #1f1f1f;
    height: auto;
}

.footertitle {
    width: 100%;
    float: left;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}

.footertitle a {
    color: #252525;
}

.footertitle a:hover {
    color: #f76d37;
}


form {
    margin-bottom: 90px;
	text-align: left;
}

/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a {
    color: #252525;
}

.copyright_text a:hover {
    color: #f76d37;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}

/* viewing products */

input {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 20px;
   }

.diamant_taital_main {
    width: 100%;
    float: left;
}

.diamant_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #f76d37;
    font-weight: bold;
    text-transform: uppercase;
}

.diamant_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4c4c4b;
}

.diamant_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4c4c4b;
}

.about_image {
    width: 5px;
    height: 500px;
	margin-top: 100px;
}
